<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">  
	
	<!--对发送方配置 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- 发送协议，注意是小写的smtp -->
        <property name="protocol" value="smtp"/>
		<!-- 发送服务器主机 -->
        <property name="host" value="smtp.126.com"/>
		<!-- 邮箱端口号，主流的邮箱服务器都是25 -->
        <property name="port" value="25" />
		<!-- 用户名 -->
        <property name="username" value="ljc13273@126.com"/>
		<!-- 密码 -->
        <property name="password" value="lanjincheng13273"/>
		<!-- 是否授权 -->
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>  
            </props>
        </property>
    </bean>
	
	<bean id="mailUtil" class="cn.itcast.mail.MailUtils">
	  <property name="javaMailSender" ref="mailSender"></property>
	</bean>
</beans>
	
